# TDX 客户端二进制/数据目录
*.dll
*.exe
*.dat
*.dax
*.daq
*.cfg
*.ini
*.bmp
*.jpg
*.gif
*.db
*.mht
*.uid
*.ql
*.up
T0001/
T0002/
vipdoc/
chrome/
webs/
jspages/
proto/
funcs/
files/
GNPlugins/
PYPlugins/
QHPlugins/
SEPlugins/
SEPlugins64/
ZDPlugins/
BlockMap/
NewTc/
logo.jpg
declare.txt
risk.txt
privacy.html
service.html
tdx.css
waitcir.gif
waitinfo.jpg
uninstall.cfg
qspshint.txt
tdx_lead.bmp
tdx_lead.dat
tdx_lead2.bmp
tdxw.daq
tdxw.ql
tdxw.up
tdxw_repair.bat
l2plugin.cfg
connect.cfg
system.uid
dsmarket.dat
dsys.dat
embui.dai
idesc.dat
ihelp.dat
ilong.dat
incon.dat
index.dat
nacomte.dat
nbcomte.dat
base.dbf
invest64.dll
*.key
*.pem

# Python cache
__pycache__/

# Runtime output data
stock_pool_*.txt
花轮股票池_*.txt
*_chart_data.json
*_data.json
